@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
  }

  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-feature-numeric {
    font-feature-settings: 'tnum' on, 'lnum' on;
  }
}
